* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    background-image:linear-gradient(45deg, rgb(120, 242, 242), rgb(17, 211, 211));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 500px;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 0 10px rgb(17, 211, 211);
}

.login-form {
    text-align: center;
    padding: 50px;
    height: 100%;
}

.login-form h1 {
    color: teal;
    font-weight: 400;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 50px;
}

form .password {
    display: flex;
    flex-direction: column;
}

form input, button {
    height: 50px;
    border: 1px solid rgb(195, 194, 194);
    outline: none;
    padding-left:15px;
}

.password label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.password label input {
    margin-right: 5px;
}

form button {
    width: 130px;
    margin-left: 150px;
    background-color: teal;
    color: #fff;
    border-radius: 8px;
    border: none;
}

.sign {
    margin-top: 50px;
} 

.sign p span {
    color: teal
}